flows (1).json
[
    {
        "id": "4db70aeeaa6090a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fde0fce5c3ce478",
        "type": "serial in",
        "z": "4db70aeeaa6090a4",
        "name": "ttgo",
        "serial": "29b5620eb4474f05",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "a5ef1d01.828d88",
                "90d170d9.67f698"
            ]
        ]
    },
    {
        "id": "90d170d9.67f698",
        "type": "function",
        "z": "4db70aeeaa6090a4",
        "name": "3 CH Splitter",
        "func": "var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\nvar msg10 = {};\nvar msg11 = {};\nvar array = msg.payload.split(','),\nar=parseInt(array[0]),mt=parseInt(array[1]),ct= array[2],lon=parseFloat(array[3]),lat= parseFloat(array[4]), alt = parseFloat(array[5]), ther = parseFloat(array[6]), p = parseFloat(array[7]), mx = parseFloat(array[8]), my = parseFloat(array[9]),mz=parseFloat(array[10]);\nmsg1.payload = ar;\nmsg2.payload = mt;\nmsg3.payload = ct;\nmsg4.payload = lon;\nmsg5.payload = lat;\nmsg6.payload = alt;\nmsg7.payload = ther;\nmsg8.payload = p;\nmsg9.payload = mx;\nmsg10.payload = my;\nmsg11.payload = mz;\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11];\n",
        "outputs": 11,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "88121037a9868b68"
            ],
            [],
            [],
            [],
            [],
            [],
            [
                "684ce0bd8c398225"
            ],
            [
                "7221d7d6c038ee76"
            ],
            [
                "df1cebf3ce9ebab8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a5ef1d01.828d88",
        "type": "debug",
        "z": "4db70aeeaa6090a4",
        "name": "source",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 800,
        "wires": []
    },
    {
        "id": "684ce0bd8c398225",
        "type": "ui_gauge",
        "z": "4db70aeeaa6090a4",
        "name": "ther",
        "group": "5a98dd8239ac1a47",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{msg.payload.ther}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "88121037a9868b68",
        "type": "debug",
        "z": "4db70aeeaa6090a4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 940,
        "wires": []
    },
    {
        "id": "7221d7d6c038ee76",
        "type": "ui_chart",
        "z": "4db70aeeaa6090a4",
        "name": "p",
        "group": "5a98dd8239ac1a47",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Presure",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "df1cebf3ce9ebab8",
        "type": "ui_chart",
        "z": "4db70aeeaa6090a4",
        "name": "",
        "group": "5a98dd8239ac1a47",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Magnet X",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "29b5620eb4474f05",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5a98dd8239ac1a47",
        "type": "ui_group",
        "name": "Default",
        "tab": "4f9ee527343026e9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4f9ee527343026e9",
        "type": "ui_tab",
        "name": "my",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]